
.main-header
  min-height 75px
  width 100%
  background-color #000
  &__menu
    display block
    padding 0
    margin 0
  &__item
    display inline-block
    width 10%
    padding 10px
  &__link
    text-decoration none
    color patina