@import "base/reset"
@import "base/fonts"

@import "utils/var"
@import "utils/mixins"

@import "layout/header"
@import "layout/form"
@import "layout/footer"

@import "components/carousel"

@import "pages/index"
